force-app/main/default/flows/SDG_Check_and_Update_Outcome_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Total_Completed_Measures__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Active_Measures__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Total_Measures_Exceeded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Total_Completed_Measures__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Total_Active_Measures__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Total_Measures_Exceeded__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exceeded</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
        <rules>
            <name>Behind</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Expected_Delivery_Date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Flow.CurrentDate</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Total_Completed_Measures__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>$Record.Total_Active_Measures__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Expected_Delivery_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_to_Behind</targetReference>
            </connector>
            <label>Behind</label>
        </rules>
    </decisions>
    <description>Checks if the Outcome should be updated to Completed, Exceeded or Behind Status</description>
    <environments>Default</environments>
    <interviewLabel>SDG - Check and Update Outcome Status {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>SDG - Check and Update Outcome Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Exceeded</name>
        <label>Exceeded</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Exceeded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>If the expected delivery date has passed and the total number of completed measures is less than the total number of active measures. Update the Outcome to &apos;Behind&apos;</description>
        <name>Update_to_Behind</name>
        <label>Update to Behind</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Behind</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Completed</name>
        <label>Update to Completed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Total_Active_Measures__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Completed_Measures__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Total_Measures_Exceeded__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>SDG_Outcome__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
