force-app/main/default/flows/SDG_Set_Status_for_Measure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <description>Check current status against target and update the Status field</description>
        <name>Status_Check_and_Update</name>
        <label>Status Check and Update</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Target_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Delivered_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Completed</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
        <rules>
            <name>Exceeded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.sdgsfdev__Delivered_Amount__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>$Record.Target_Amount__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Exceeded</targetReference>
            </connector>
            <label>Exceeded</label>
        </rules>
    </decisions>
    <description>Ensures that the status is set in line with the targets for the measure. This only automates the update of Completed and Exceeded</description>
    <environments>Default</environments>
    <interviewLabel>SDG - Set Status for Measure {!$Flow.CurrentDateTime}</interviewLabel>
    <isOverridable>true</isOverridable>
    <label>SDG - Set Status for Measure</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Set the Status to Completed</description>
        <name>Set_Completed</name>
        <label>Set Completed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Exceeded</name>
        <label>Set Exceeded</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Exceeded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Status_Check_and_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>SDG_Outcome_Measure__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
